<p>
  <strong>Content:</strong>
  <%= raw(@lecture.content) %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.title%>
</p>

<p>
  <strong>Lecture Attachment: </strong> <%= @lecture.attachment.filename %> 
  <br/>
  <div class="mx-auto"><%= link_to "Download Attachment", @lecture.attachment_url %></div>
</p>
<%= @lecture.get_likes.size %>
<div class="btn-group">
  <% if (current_user.liked? @lecture) %>
    <%= link_to unlike_course_lecture_path(@lecture), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
      Unlike
    <%end %>

  <% else %>

    <%= link_to like_course_lecture_path(@lecture), method: :put, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
      Like
    <% end %>
  <% end %>
  </div>
  <%= @lecture.get_dislikes.size %>
  <div class="btn-group">
  <% if (current_user.disliked? @lecture) %>
    <%= link_to undislike_course_lecture_path(@lecture), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
      Undislike
    <%end %>
     <% else %>
    <%= link_to dislike_course_lecture_path(@lecture), method: :put, class: "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
      disLike
    <% end %>
    <% end %>
</div>
<% if current_user.lectures.exists?(@lecture.id) %>
<%= link_to 'Remove Spam', rm_spam_course_lecture_path(course_id: @lecture.course.id,id:@lecture.id),class: "btn btn-danger" %>
<% else %>
<%= link_to 'Spam', spam_course_lecture_path(course_id: @lecture.course.id,id:@lecture.id),class: "btn btn-danger" %>
<% end %>
<%= commontator_thread(@lecture)%>
<%= link_to 'Edit', edit_course_lecture_path(@lecture.course,@lecture) %> |
<%= link_to 'Back', course_lectures_path(@lecture.course) %>

