<!DOCTYPE html>
<html>
  <head>
    <title>Mooc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<header class='clearfix'>
  <div class="left-nav">
    <ul>
     <li><%= link_to('Courses',courses_path ) %></li>
    </ul>
  </div> 
  <% if user_signed_in? %>
  <div class="right-nav">
    <ul>
      <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
    </ul>
  </div>
  	<% end %>
  <div class="right-nav">
    <ul>
      		<% if user_signed_in? %>
					<li><%= link_to('My Account', edit_user_registration_path) %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to('Sign in', new_user_session_path) %></li>
					<li><%= link_to('Sign up', new_user_registration_path) %></li>
				<% end %>
    </ul>
  </div>
</header>
  <div class="container" style="padding-top:20px;">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
